.hero {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-image: url("https://picsum.photos/1920/800");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    opacity: 0.4;
  }

  &__text {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 800;
    text-align: center;
  }
    &__text {
      font-size: 1.5rem;
      line-height: 24px;
      margin: 24px 0;
    }
  }
  
